%banner-title
  font:
    weight: 700
    size: 2.25rem
  line-height: 3rem
  +min($md)
    font-size: 7.25rem // 116
    line-height: 7.5rem

%section-title
  font:
    weight: 700
    size: 1.75rem
  line-height: 2rem
  +min($md)
    font-size: 3rem // 48
    line-height: 3.5rem

%header-title
  font:
    weight: 700
    size: 1.5rem
  line-height: 2rem
  +min($md)
    font-size: 2.25rem // 36
    line-height: 3rem

%article-title
  font:
    weight: 600
    size: 1.125rem
  line-height: 1.5rem
  +min($md)
    font-size: 1.5rem // 24
    line-height: 2rem

%article-body
  font:
    weight: 500
    size: 1rem
  line-height: 1.25rem
  +min($md)
    font-size: 1.125rem // 18
    line-height: 1.5rem