#mc_embed_signup
  #mc_embed_signup_scroll
    .mc-field-group
      text-align: left
      margin: 0 0 1.5rem 0
      label
        @extend %article-body
        font-weight: 400
        margin: 0 0 0.5rem 0
      input
        +anm(border)
        background-color: $white
        border-radius: 1.75rem
        border: 0.0625rem solid $border
        color: $black
        width: 100%
        height: 3.5rem
        padding: 0.5rem 3.5rem 0.5rem 1.5rem
        &:focus
          border-color: $black
          outline: none!important
        & + .mce_inline_error
          @extend %article-body
          font-weight: 400
          background: none
          color: $error
          margin: 0.5rem 0 0 0
          padding: 0
  #mce-responses
    .response
      @extend %article-body
      font-weight: 400
      margin: 0 0 1.5rem 0
      text-align: left
      &#mce-error-response
        color: $error
      &#mce-success-response
        color: $grey-dark
  .optionalParent
    text-align: right
    .clear.foot
      position: relative
      display: inline-block
      input#mc-embedded-subscribe
        @extend %article-body
        +anm(all)
        background-color: $black
        border: 0.125rem solid $black
        color: $white
        padding: 0.5rem 2.25rem 0.5rem 1rem
        border-radius: 1.5rem
      span.icon
        +anm(background)
        +mask('/img/icon-send.svg', $white)
        display: block
        position: absolute
        width: 1rem
        height: 1rem
        top: 0.875rem
        right: 0.75rem
        z-index: 1
        pointer-events: none
      &:hover
        input#mc-embedded-subscribe
          background-color: $lime
          color: $black
        span.icon
          background-color: $black