main.claim
  padding: 6.4375rem 0 0 0
  +min($lg)
    padding: 7.4375rem 0 0 0
  section.about
    margin: 16rem 0
    .container
      position: relative
    .illu_1
      position: absolute
      right: 95%
      bottom: 95%
      width: 151px
      height: 180px
    .illu_2
      position: absolute
      left: 105%
      bottom: -32px
      width: 48px
      height: 64px
    .title
      margin: 0 0 1.25rem 0
      h2
        @extend %section-title
    .text
      margin: 0 0 2.5rem 0
      p
        @extend %article-body