footer#footer
  .container
    .row
      .col-6
        .logo
          a.d-block(href="/" target="_blank")
        .text
          p The Space is a pixel map where players can tokenize, own, trade and color pixels.
          p.d-none.d-md-block Copyright © 2022 matters-lab.io
      .col-5.offset-1.col-md-3.offset-md-3
        .title.d-none.d-md-block
          h3 The Space
        .list
          ul
            li
              a(href="/") Home
            //- li
            //-   a(href="#") Claim $SPACE
            //- li
            //-   a(href="#" target="_blank") The Space playground
            li
              a(href="https://matters.news/" target="_blank") Matters.news
            li
              a(href="https://matters-lab.io/" target="_blank") Matters-lab.io
      .col-12.col-md-6
        .social
          a.twitter(href="https://twitter.com/thespace2022" target="_blank")
            i.icon
          a.discord(href="https://discord.gg/rbsfr4KMR7" target="_blank")
            i.icon
          a.telegram(href="https://t.me/joinchat/BXzlWUhXaWNZ-TXJZJCzDQ" target="_blank")
            i.icon
          a.youtube(href="https://www.youtube.com/c/Matterslab" target="_blank")
            i.icon
          a.opensea(href="https://opensea.io/collection/traveloggers" target="_blank")
            i.icon
          a.medium(href="https://matterslab.medium.com/" target="_blank")
            i.icon
          a.instagram(href="https://www.instagram.com/matterslab2018/" target="_blank")
            i.icon
          a.facebook(href="https://www.facebook.com/MattersLab2018/" target="_blank")
            i.icon
      .col-12.d-md-none
        .copyright.text-center
          span Copyright © 2022 matters-lab.io