header#header.d-flex.justify-content-between.align-items-center
  .logo
    a.d-block(href="/")
  .buttons
    //- a.btn.hollow(href="#" target="_blank") Join Discord
    a.btn(href="https://discord.gg/rbsfr4KMR7" target="_blank") Join Discord