main.index
  padding: 6.4375rem 0 0 0
  +min($lg)
    padding: 7.4375rem 0 0 0
  section
    .bar
      position: relative
      &::before
        content: ''
        display: block
        background-color: $lime
        position: absolute
        top: 0rem
        left: 0rem
        z-index: -1
        transform: skew(-30deg)
        +min($md)
          top: -0.3125rem
          left: -3.125rem
  section.intro
    position: relative
    margin: 0 0 3.75rem 0
    +min($md)
      margin: 0 0 8.5rem 0
    .divider
      margin: 0 0 2rem 0
      +min($xl)
        margin: 13.5625rem 0 6rem 0
      figure img
        height: 1.8125rem
        +min($md)
          height: auto
    .illu
      margin: 0 -0.5rem
      +min($md)
        margin: 0 -0.625rem
      +min($xl)
        position: absolute
        z-index: 0
        top: 0
        right: 0
        margin: 0
    .title
      margin: 0 0 1.5rem 0
      h1
        @extend %section-title
        &::before
          width: 7.5rem
          height: 1.875rem
          +min($md)
            width: 16.875rem
            height: 4.375rem
    .text
      margin: 0 0 1.5rem 0
      p
        @extend %article-body
    .buttons
      text-align: center
      +min($md)
        text-align: left
    .tips
      width: 1.125rem
      height: 4rem
      margin: 3rem auto 0 auto
      position: relative
      overflow: hidden
      +min($md)
        width: 1.9375rem
        height: 7.0625rem
        margin: 0 0 5rem 0
      span.icon
        +perf(transform)
        +bg('/img/intro-tips.svg')
        display: block
        width: 100%
        height: 100%
        animation: tips 2s $ease infinite
        @keyframes tips
          0%
            transform: translateY(-100%)
          33%
            transform: translateY(0%)
          66%
            transform: translateY(0%)
          100%
            transform: translateY(100%)
  section.subscribe
    margin: 0 0 12rem 0
    .title
      margin: 0 0 2rem 0
      h2
        @extend %header-title
      span
        @extend %article-body
        font-weight: 400
    .form
      width: 100%
      max-width: 28.125rem
      div[data-group="alert"]
        @extend %article-body
        font-weight: 400
        margin: 0 0 1.5rem 0
        text-align: center
        color: $grey-dark
      .formkit-field
        margin: 0 0 1.5rem 0
        label
          @extend %article-body
          font-weight: 400
          margin: 0 0 0.5rem 0
        input
          +anm(border)
          background-color: $white
          border-radius: 1.75rem
          border: 0.0625rem solid $border
          color: $black
          width: 100%
          height: 3.5rem
          padding: 0.5rem 3.5rem 0.5rem 1.5rem
          &:focus
            border-color: $black
            outline: none!important
      .formkit-submit
        @extend %article-body
        +anm(all)
        position: relative
        background-color: $black
        border: 0.125rem solid $black
        color: $white
        padding: 0.5rem 1rem
        border-radius: 1.5rem
        &:hover
          background-color: $lime
          color: $black
          span.icon
            background-color: $black
        span.icon
          +anm(background)
          +mask('/img/icon-send.svg', $white)
          display: inline-block
          width: 1rem
          height: 1rem
          pointer-events: none
          margin: 0 0 0 0.5rem
          transform: translateY(2px)
  section.sample
    +flex(row, wrap, center, center)
    position: relative
    margin: 0 0 12rem 0
    &::before
      content: ''
      display: block
      width: 100%
      height: 85%
      background-color: $lime
      position: absolute
      left: 0
      z-index: -1
      transform: skewY(-15deg)
      +min($md)
        height: 65%
        transform: skewY(-7.5deg)
    .thumb
      margin: 0 0 2.5rem 0
      +min($md)
        margin: 0
      figure img
        border-radius:16px
    .title
      margin: 0
      +min($md)
        margin: 0 0 1.5rem 0
      h2
        @extend %header-title
    .illu
      figure
        img
          height: 6.125rem
          +min($md)
            height: auto
  section.features
    margin: 0 0 15rem 0
    .title
      margin: 0 0 2rem 0
      h2
        @extend %section-title
        &::before
          width: 5.625rem
          height: 1.875rem
          +min($md)
            width: 13.75rem
            height: 3.125rem
    .content
      .feature
        +flex(row, wrap, initial, center)
        margin: 0 0 2.5rem 0
        &:last-child
          margin: 0
        .illu
          width: 100%
          margin: 0 0 1.5rem 0
          +min($md)
            width: 12.5rem
            margin: 0
        .text
          flex: 1
          h3
            @extend %header-title
            margin: 0 0 1rem 0
          p
            @extend %article-body
  section.roadmap
    +flex(row, wrap, center, center)
    position: relative
    margin: 0 0 15rem 0
    &::before
      content: ''
      display: block
      width: 100%
      height: 100%
      background-color: $lime
      position: absolute
      left: 0
      z-index: -1
      transform: skewY(-15deg) translateY(14%)
      +min($md)
        height: 162%
        transform: skewY(-7.5deg) translateY(4%)
    .title
      position: relative
      margin: 0 0 2.5rem 0
      +min($md)
        margin: 0 0 5rem 0
      h2
        @extend %section-title
      .illu
        margin: 0 0 2.5rem 0
        +min($md)
          position: absolute
          right: 0
          bottom: 0
          margin: 0
        figure
          img
            height: 10.4375rem
            +min($md)
              height: auto
    .content
      position: relative
      +flex(column, wrap, center, center)
      +min($md)
        +flex(row, nowrap, space-between, center)
      .road
        position: absolute
        background-color: $black
        z-index: 0
        width: 0.25rem
        height: 100%
        +min($md)
          width: 100%
          height: 0.25rem
          margin: 0.5rem 0 0 0
        &::after
          +bg('/img/roadmap-arrow.svg')
          content: ''
          display: block
          width: 1.375rem
          height: 1.125rem
          position: absolute
          transform-origin: left center
          transform: rotate(90deg)
          bottom: 0
          left: 0.125rem
          +min($md)
            bottom: initial
            left: initial
            right: -1.375rem
            top: -0.4375rem
            transform: rotate(0deg)
      .plan
        +flex(row, nowrap, space-between, center)
        position: relative
        z-index: 1
        width: 100%
        margin: 2.25rem 0 0 0
        +min($md)
          display: block
          margin: 0
        span
          display: block
          &.date
            @extend %article-title
            width: calc(50% - 0.625rem)
            text-align: right
            +min($md)
              width: 100%
              text-align: center
          &.dot
            width: 1.25rem
            height: 1.25rem
            border: 0.25rem solid $black
            background-color: $grey-light
            border-radius: 50%
            margin: 0 1rem
            +min($md)
              margin: 1.25rem auto 1.125rem auto
          &.text
            @extend %article-body
            width: calc(50% - 0.625rem)
            text-align: left
            +min($md)
              width: 100%
              text-align: center
  section.social_media
    margin: 0 0 15rem 0
    .title
      margin: 0 0 1rem 0
      +min($md)
        margin: 0 0 3rem 0
      h2
        @extend %section-title
        &::before
          width: 7.5rem
          height: 1.875rem
          +min($md)
            width: 13.75rem
            height: 3.125rem
    .board
      +flex(row, wrap, center, initial)
  section.follow_us
    +flex(row, wrap, center, center)
    position: relative
    padding: 20rem 0 3rem 0
    &::before
      content: ''
      display: block
      width: 138%
      padding: 0 0 100% 0
      background-color: $lime
      border-radius: 50%
      position: absolute
      top: 15rem
      z-index: -1
    a.ribbon
      display: block
      width: 150%
      height: 6.25rem
      border:
        top: 0.25rem solid $black
        bottom: 0.25rem solid $black
      position: absolute
      top: 0
      transform-origin: left center
      +min($md)
        width: 105%
        left: initial!important
        transform-origin: center center
      &.grey
        background-color: $grey-light
        transform: rotate(7deg) scale(.7)
        left: -1%
        +min($md)
          transform: rotate(5deg)
        .inner
          animation: marquee 5s linear infinite
      &.lime
        background-color: $lime
        transform: rotate(-7deg) scale(.7)
        left: 0
        +min($md)
          transform: rotate(-5deg)
        .inner
          margin-left: -24.375rem
          animation: marquee-reverse 5s linear infinite
      .inner
        +perf(transform)
        width: calc(100% + 24.375rem)
        height: 100%
        background:
          image: url(/img/about.svg)
          repeat: repeat-x
          position: left center
        @keyframes marquee
          0%
            transform: translateX(0rem)
          100%
            transform: translateX(-24.375rem)
        @keyframes marquee-reverse
          0%
            transform: translateX(0rem)
          100%
            transform: translateX(24.375rem)
    .title
      margin: 0 0 1.5rem 0
      h2
        @extend %section-title
    .social
      a
        +flex(row, wrap, center, center)
        +anm(background)
        display: inline-flex
        width: 3rem
        height: 3rem
        border-radius: 50%
        background-color: $black
        border: 0.25rem solid $black
        margin: 0 1rem
        +min($md)
          width: 3.5rem
          height: 3.5rem
          margin: 0 1.5rem
        &:hover
          background-color: transparent
          span.icon
            background-color: $black!important
        &:active
          background-color: $black
          span.icon
            background-color: $lime!important
        &.twitter
          span.icon
            +mask('/img/icon-twitter.svg', $white)
        &.discord
          span.icon
            +mask('/img/icon-discord.svg', $white)
        span.icon
          +anm(background)
          width: 1.5rem
          height: 1.5rem
          +min($md)
            width: 2rem
            height: 2rem