header#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 8
  padding: 2.75rem 1rem 0.75rem 1rem
  background-color: $grey-light
  border-bottom: 0.0625rem solid $border
  +min($lg)
    padding: 2rem 3.75rem
  .logo
    width: 4.625rem
    height: 1.6875rem
    +min($lg)
      width: 7rem
      height: 2.5rem
    a
      +bg('/img/logo.svg')
      width: 100%
      height: 100%
  .menu
    +max($lg)
      +anm(transform)
      position: fixed
      width: 100%
      height: calc(100% - 89px)
      top: 89px
      left: 100%
      z-index: 1
      text-align: center
      background-color: $grey-light
      transform: translateX(0%)
    &.active
      transform: translateX(0%)
      +max($lg)
        transform: translateX(-100%)
    a
      @extend %article-body
      +anm(all)
      display: block
      margin: 48px 0 0 0
      padding: 0
      +min($lg)
        display: inline-block
        margin: 0
        padding: 9px 21px
      &:hover
        color: $grey-dark
      &.btn
        +min($lg)
          margin: 0 0 0 21px
          box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.16)
          border-radius: 28px
          border:
            width: 3px
            style: solid
        &.frame
          +min($lg)
            border-color: $black
            color: $black
          &:hover
            +min($lg)
              border-color: $grey-dark
              color: $grey-dark
              box-shadow: none
        &.fill
          +min($lg)
            border-color: $black
            background-color: $black
            color: $white
          &:hover
            +min($lg)
              color: $black
              background-color: transparent
              box-shadow: none
  .burger
    width: 32px
    height: 32px
    button
      +bg('/img/icon-burger.svg')
      width: 100%
      height: 100%
    &.active
      button
        background-image: url('/img/icon-cross.svg')
  .countdown
    @extend %article-body
    position: absolute
    top: calc(100% + 1px)
    left: 0
    width: 100%
    background-color: $lime
    padding: 8px 16px
    +min($lg)
      padding: 8px 60px
    span
      font-weight: 400
    .time
      .icon
        +bg('/img/icon-watch.svg')
        display: block
        width: 24px
        height: 24px
        margin: 0 8px 0 0
    .buttons
      .icon
        +bg('/img/icon-ics.svg')
        display: block
        width: 40px
        height: 40px
        margin: 0 0 0 16px
