header#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 8
  padding: 44px 16px 12px 16px
  background-color: $grey-light
  border-bottom: 1px solid $border
  +min($lg)
    padding: 32px 60px
  .logo
    width: 74px
    height: 27px
    +min($lg)
      width: 112px
      height: 40px
    a
      +bg('/img/logo.svg')
      width: 100%
      height: 100%
  .buttons
    +max($lg)
      +anm(transform)
      position: fixed
      width: 100%
      height: calc(100% - 89px)
      top: 89px
      left: 100%
      z-index: 1
      text-align: center
      background-color: $grey-light
      transform: translateX(0%)
    &.active
      transform: translateX(0%)
      +max($lg)
        transform: translateX(-100%)
    a
      @extend %article-title
      +anm(all)
      display: block
      margin: 48px 0 0 0
      padding: 0
      +min($lg)
        display: inline-block
        margin: 0
        padding: 9px 21px
      &:hover
        color: $grey-dark
      &.strong
        +min($lg)
          margin: 0 0 0 21px
          box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.16)
          border-radius: 28px
          border: 3px solid $black
          color: $white
          background-color: $black
        &:hover
          +min($lg)
            color: $black
            background-color: transparent
            box-shadow: none
  .burger
    width: 32px
    height: 32px
    button
      +bg('/img/icon-burger.svg')
      width: 100%
      height: 100%
    &.active
      button
        background-image: url('/img/icon-cross.svg')
      