extends bases/_base

block variables
  - var pageMain = 'index'

block main
  section.intro
    .container
      .row
        .col-12.p-0
          .illu
            figure.text-end
              img.img-fluid(src="img/intro-illu.svg")
        .col-md-5.col-xl-4
          .divider
            figure
              img.img-fluid(src="img/intro-divider.svg")
          .title
            h1.bar
              | The Space: 
              br
              | an everlasting, Draw-to-Earn public space
          .text
            p The Space is a pixel map where players can tokenize, own, trade and color pixels. Pixels are tokenized as ERC721 tokens and traded under Harberger Tax, while owners of pixels receive Universal Basic Income(UBI). In the Future, The administration of The Space will be transfered to SpaceDAO, a decentralized autonomous organization formed by all $SPACE token holders.
          .buttons
            a.btn(href="https://discord.gg/rbsfr4KMR7" target="_blank") Join Discord
        .col-md-7.col-xl-8
          .d-flex.justify-content-end.align-items-end.h-100
            .tips
              span.icon
  section.subscribe
    .container.d-flex.justify-content-center
      .form.text-center
        .title
          h2 Subscribe for Updates
          span Get the latest news about our progress!
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='https://news.us14.list-manage.com/subscribe/post?u=88f04056b71d949fdd5b8988f&id=6f75a930c9' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
            #mc_embed_signup_scroll
              .mc-field-group
                label(for='mce-EMAIL')
                  | Email Address  
                  span.asterisk *
                input#mce-EMAIL.required.email(type='email' value='' name='EMAIL' placeholder="Enter your e-mail to subscribe for Updates")
              .mc-field-group
                label(for='mce-FNAME') ETH Address 
                input#mce-FNAME(type='text' value='' name='FNAME' placeholder="ETH Address")
              #mce-responses.clear.foot
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
              div(style='position: absolute; left: -5000px;' aria-hidden='true')
                input(type='text' name='b_88f04056b71d949fdd5b8988f_6f75a930c9' tabindex='-1' value='')
              .optionalParent
                .clear.foot
                  input#mc-embedded-subscribe.button(type='submit' value='Submit' name='subscribe')
                  span.icon
        script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        script(type='text/javascript').
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
  section.sample
    .container
      .row.align-items-center
        .col-md-6
          .thumb
            figure
              img.img-fluid(src="img/sample-thumb.png")
        .col-md-5.offset-md-1
          .title
            h2 Buy, Sell, Pay Tax and Collect Dividend
          .illu
            figure.text-end
              img.img-fluid(src="img/sample-illu.svg")
  section.features
    .container
      .title
        h2.bar Features
      .content
        .feature
          .illu
            figure.text-center
              img.img-fluid(src="img/features-1.svg")
          .text
            h3 Create with others
            p The Space is a digital public graffiti wall where everyone can show their ideas, pixel by pixel,  and collaboratively.
        .feature
          .illu
            figure.text-center
              img.img-fluid(src="img/features-2.svg")
          .text
            h3 Radical Market
            p The Space is governed by Harberger Tax and Universal Basic Income (UBI) to decide the flow of pixels and the distribution of capitals, so that the public resource can be efficiently utilized.
        .feature
          .illu
            figure.text-center
              img.img-fluid(src="img/features-3.svg")
          .text
            h3 Decentralized Autonomous Organization
            p The Space is backed by blockchain and owned by the SpaceDAO, meaning that The Space will never be shut down by any authorities, and all works created will be accessible forever.
  section.roadmap
    .container
      .title.text-center
        .illu
          figure.text-center
            img.img-fluid(src="img/roadmap-illu.svg")
        h2 [ Roadmap ]
      .content
        .road
        .plan
          span.date Apr 2022
          span.dot
          span.text Lauch on testnet
        .plan
          span.date May 2022
          span.dot
          span.text Token Airdrop
        .plan
          span.date May 2022
          span.dot
          span.text Launch on Polygon
        .plan
          span.date Late 2022
          span.dot
          span.text Initiate SpaceDAO
        .plan.d-md-none.d-lg-block
  section.social_media
    .container
      .title.d-flex.justify-content-between.align-items-center
        h2.bar Social Media
        .buttons
          a.btn(href="https://twitter.com/thespace2022" target="_blank") View More
      .board
        a.twitter-timeline(href="https://twitter.com/thespace2022" data-tweet-limit="1" data-width="500") Tweets by @thespace2022
        script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  section.follow_us
    a.ribbon.lime(href="https://matters-lab.io/" target="_blank")
      .inner
    a.ribbon.grey(href="https://matters-lab.io/" target="_blank")
      .inner
    .container
      .title.text-center
        h2 [ Follow Us ]
      .social.text-center
        a.twitter(href="https://twitter.com/thespace2022" target="_blank")
          span.icon
        a.discord(href="https://discord.gg/rbsfr4KMR7" target="_blank")
          span.icon
