extends bases/_base

block variables
  - var pageMain = 'index'

block main
  section.intro
    .container
      .row
        .col-12.p-0
          .illu
            figure.text-end
              img.img-fluid(src="img/intro-illu.svg")
        .col-md-5.col-xl-4
          .divider
            figure
              img.img-fluid(src="img/intro-divider.svg")
          .title
            h1.bar
              | The Space: 
              br
              | an everlasting, Draw-to-Earn public space
          .text
            p The Space is a pixel space owned by a decentralized autonomous organization (DAO), where members can tokenize, own, trade and color pixels. Pixels are tokenized as ERC721 tokens and traded under Harberger Tax, while members receive Universal Basic Income(UBI) based on the number of pixel they own.
          .button
            a.btn(href="https://discord.gg/matterslab" target="_blank") Join Discord
        .col-md-7.col-xl-8
          .d-flex.justify-content-end.align-items-end.h-100
            .tips
              span.icon
  section.subscribe
    .container.d-flex.justify-content-center
      .form.text-center
        .title
          h2 Subscribe for Updates
          span Get the latest news about our progress!
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='https://news.us20.list-manage.com/subscribe/post?u=2b73e9a364e173e88fe6a624f&id=61bc380ea9' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
            #mc_embed_signup_scroll
              .mc-field-group
                input#mce-EMAIL.required.email(type='email' value='' name='EMAIL' placeholder="Enter your e-mail to subscribe for Updates")
              #mce-responses.clear.foot
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
              div(style='position: absolute; left: -5000px;' aria-hidden='true')
                input(type='text' name='b_2b73e9a364e173e88fe6a624f_61bc380ea9' tabindex='-1' value='')
              .optionalParent
                .clear.foot
                  input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')
                  span.icon
        script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        script(type='text/javascript').
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
  section.sample
    .container
      .row.align-items-center
        .col-md-6
          .thumb
            figure
              img.img-fluid(src="img/sample-thumb.png")
        .col-md-5.offset-md-1
          .title
            h2 Buy, Sell, Pay Tax and Collect Dividend
          .illu
            figure.text-end
              img.img-fluid(src="img/sample-illu.svg")
  section.features
    .container
      .title
        h2.bar Features
      .content
        .feature
          .illu
            figure.text-center
              img.img-fluid(src="img/features-1.svg")
          .text
            h3 Create with others
            p The Space is a digital public graffiti wall where everyone can show their ideas, pixel by pixel,  and collaboratively.
        .feature
          .illu
            figure.text-center
              img.img-fluid(src="img/features-2.svg")
          .text
            h3 Radical Market
            p The Space is governed by Harberger Tax and Universal Basic Income (UBI) to decide the flow of pixels and the distribution of capitals, so that the public resource can be efficiently utilized.
        .feature
          .illu
            figure.text-center
              img.img-fluid(src="img/features-3.svg")
          .text
            h3 Decentralized Autonomous Organization
            p The Space is backed by blockchain and owned by the SpaceDAO, meaning that The Space will never be shut down by any authorities, and all works created will be accessible forever.
  section.roadmap
    .container
      .title.text-center
        .illu
          figure.text-center
            img.img-fluid(src="img/roadmap-illu.svg")
        h2 [ Roadmap ]
      .content
        .road
        .plan
          span.date Apr 2022
          span.dot
          span.text Lauch on testnet
        .plan
          span.date Apr 2022
          span.dot
          span.text Token Airdrop
        .plan
          span.date May 2022
          span.dot
          span.text Launch on Polygon
        .plan
          span.date Late 2022
          span.dot
          span.text Initiate SpaceDAO
        .plan.d-md-none.d-lg-block
  section.social_media
    .container
      .title.d-flex.justify-content-between.align-items-center
        h2.bar Social Media
        a.btn(href="https://twitter.com/thespace2022" target="_blank") View More
      .board
        //- .row
        //-   .col-lg-4
        //-     blockquote.twitter-tweet(align='center')
        //-       p(lang='en' dir='ltr')
        //-         | “What is interesting is that Web3 and cryptocurrency brings to the table a new form of ownership that goes beyond capitalism and socialism that cannot be categorized. The closest description is a radical market: a genuinely open, free, and…” — 
        //-         a(href='https://twitter.com/Mattersw3b?ref_src=twsrc%5Etfw') @Mattersw3b
        //-         a(href='https://t.co/irzUsXLdZg') https://t.co/irzUsXLdZg
        //-       | — The Space (@thespace2022) 
        //-       a(href='https://twitter.com/thespace2022/status/1503968344961011713?ref_src=twsrc%5Etfw') March 16, 2022
        //-     blockquote.twitter-tweet(align='center')
        //-       p(lang='en' dir='ltr')
        //-         | "This collaborative drawing game was so much fun that I spent couple hours on it without noticing. Interacting with people around world in The Space is fascinating!"
        //-         a(href='https://twitter.com/hashtag/TheSpace2022?src=hash&ref_src=twsrc%5Etfw') #TheSpace2022
        //-         a(href='https://t.co/s11SZUjksT') https://t.co/s11SZUjksT
        //-       | — The Space (@thespace2022) 
        //-       a(href='https://twitter.com/thespace2022/status/1506871439265128455?ref_src=twsrc%5Etfw') March 24, 2022
        //-   .col-lg-4
        //-     blockquote.twitter-tweet(align='center')
        //-       p(lang='en' dir='ltr')
        //-         | A GM flag floating in 
        //-         a(href='https://twitter.com/hashtag/TheSpace?src=hash&ref_src=twsrc%5Etfw') #TheSpace
        //-         |  and the confliction between Apollonian and Dionysian. This night belongs to all artists of 
        //-         a(href='https://twitter.com/see_dao?ref_src=twsrc%5Etfw') @see_dao
        //-         |  who attended to the game-test event of The Space. Many thanks to 
        //-         a(href='https://twitter.com/baiyu2140?ref_src=twsrc%5Etfw') @baiyu2140
        //-         a(href='https://twitter.com/Diana19959295?ref_src=twsrc%5Etfw') @Diana19959295
        //-         a(href='https://t.co/HPFFvKQS2z') pic.twitter.com/HPFFvKQS2z
        //-       | — The Space (@thespace2022) 
        //-       a(href='https://twitter.com/thespace2022/status/1507365978849484800?ref_src=twsrc%5Etfw') March 25, 2022
        //-     blockquote.twitter-tweet(align='center')
        //-       p(lang='en' dir='ltr')
        //-         | "Will it be possible to have our private canvas, (just like a private chat room), where only the people with invitation can get full access.
        //-         br
        //-         | I am really curious about The Space. I cannot wait to see how it works after it is put on blockchain!"
        //-         a(href='https://t.co/Tjt6sMGLPW') https://t.co/Tjt6sMGLPW
        //-       | — The Space (@thespace2022) 
        //-       a(href='https://twitter.com/thespace2022/status/1506506441800118273?ref_src=twsrc%5Etfw') March 23, 2022
        //-   .col-lg-4
        //-     blockquote.twitter-tweet(align='center')
        //-       p(lang='en' dir='ltr')
        //-         | "Radical Market Can Work On Blockchain
        //-         br
        //-         | ", Sharing of The Space by 
        //-         a(href='https://twitter.com/AnnieJieping?ref_src=twsrc%5Etfw') @AnnieJieping
        //-         | , CEO of Matters Lab, with many NFT KOLs like 
        //-         a(href='https://twitter.com/mashbean?ref_src=twsrc%5Etfw') @mashbean
        //-         a(href='https://twitter.com/dAAAb?ref_src=twsrc%5Etfw') @dAAAb
        //-         |  in the Meetup hosted by 
        //-         a(href='https://twitter.com/StormMediaGrp?ref_src=twsrc%5Etfw') @StormMediaGrp
        //-         a(href='https://twitter.com/hashtag/%E7%93%B6%E8%93%8B%E5%B7%A5%E5%BB%A0%E5%8F%B0%E5%8C%97%E8%A3%BD%E9%80%A0%E6%89%80?src=hash&ref_src=twsrc%5Etfw') #瓶蓋工廠台北製造所
        //-         a(href='https://twitter.com/hashtag/TheSpace2022?src=hash&ref_src=twsrc%5Etfw') #TheSpace2022
        //-         a(href='https://twitter.com/hashtag/NFT?src=hash&ref_src=twsrc%5Etfw') #NFT
        //-         a(href='https://t.co/qVzhBdOXXh') pic.twitter.com/qVzhBdOXXh
        //-       | — The Space (@thespace2022) 
        //-       a(href='https://twitter.com/thespace2022/status/1506886219522662403?ref_src=twsrc%5Etfw') March 24, 2022
        //-     blockquote.twitter-tweet(align='center')
        //-       p(lang='en' dir='ltr')
        //-         | "Did you remember my words—“The Space is a social experiment”? Obviously, the result is positive. It's still possible to collectively create exquisite work without leaders within a community. And that’s why I love The Space — Collaboration is fascinating!"
        //-         a(href='https://t.co/gikuTGJP0N') https://t.co/gikuTGJP0N
        //-       | — The Space (@thespace2022) 
        //-       a(href='https://twitter.com/thespace2022/status/1506112851924058112?ref_src=twsrc%5Etfw') March 22, 2022
        a.twitter-timeline(href="https://twitter.com/thespace2022" data-tweet-limit="1" data-width="500") Tweets by @thespace2022
        script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  section.follow_us
    a.ribbon.lime(href="https://matters-lab.io/" target="_blank")
      .inner
    a.ribbon.grey(href="https://matters-lab.io/" target="_blank")
      .inner
    .container
      .title.text-center
        h2 [ Follow Us ]
      .social.text-center
        a.twitter(href="https://twitter.com/thespace2022" target="_blank")
          span.icon
        a.discord(href="https://discord.gg/matterslab" target="_blank")
          span.icon
