footer#footer
  background-color: $black
  color: $grey-light
  padding: 2.5rem 0
  font-size: 0.75rem
  +min($md)
    padding: 3.75rem 0 2.25rem 0
    font-size: 0.875rem
  .logo
    width: 7.625rem
    height: 2.8125rem
    margin: 0 0 1rem 0
    +min($md)
      margin: 0 0 1.5rem 0
    a
      +mask('/img/logo.svg', $white)
      width: 100%
      height: 100%
  .text
    p
      margin: 0 0 0.25rem 0
  .social
    text-align: center
    margin: 2.5rem 0 0 0
    +min($md)
      text-align: left
      transform: translateY(-1.5rem)
    a
      +flex(row, wrap, center, center)
      display: inline-flex
      width: 1.5rem
      height: 1.5rem
      margin: 0 1.25rem 0 0
      &:last-child
        margin: 0
      i.icon
        +anm(background)
        display: block
        width: 100%
        height: 100%
      &:hover i.icon
        background-color: $lime!important
      &.twitter i.icon
        +mask('/img/icon-twitter.svg', $white)
      &.discord i.icon
        +mask('/img/icon-discord.svg', $white)
      &.telegram i.icon
        +mask('/img/icon-telegram.svg', $white)
      &.youtube i.icon
        +mask('/img/icon-youtube.svg', $white)
      &.opensea i.icon
        +mask('/img/icon-opensea.svg', $white)
      &.instagram i.icon
        +mask('/img/icon-instagram.svg', $white)
      &.facebook i.icon
        +mask('/img/icon-facebook.svg', $white)
      &.matters i.icon
        +mask('/img/icon-matters.svg', $white)
      &.medium i.icon
        +mask('/img/icon-medium.svg', $white)
  .title
    margin: 0 0 1.5rem 0
    h3
      @extend %article-title
  .list
    ul
      li
        margin: 0 0 0.5rem 0
        &:last-child
          margin: 0
        a
          +anm(color)
          &:hover
            color: $lime
  .copyright
    margin: 1rem 0 0 0